@model ReturnBookViewModel

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form asp-action="Return" method="post">
        <div class="form-group">
            <label asp-for="Reader">Кто вы</label>
            <select asp-for="Reader.Id" 
                    asp-items="@(new SelectList(Model.Readers,"Id","Name"))"></select>
        </div>
        <p>Вы хотите сдать книгу "@Model.Book.Title"</p>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Сдать</button>
        </div>
        <input type="hidden" asp-for="Book.Id" value="@Model.Book.Id">
    </form>
</div>